@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wdth,wght@0,62.5..100,100..900;1,62.5..100,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pretendard:wght@100..900&display=swap");

body {
	font-family: "Noto Sans KR", sans-serif;
	margin: 0;
	padding: 0;
	background-color: #b1c758;
	color: #000000;
}

.container {
	max-width: 1420px;
	margin: 0 auto;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #b1c758; 
	z-index: 1000; 
	padding: 24px 0;
}

nav {
	display: flex;
	justify-content: space-between;
	gap: 72px;
}

nav a {
	color: #000;
	text-decoration: none;
	font-weight: 600;
	font-size: 18px;
	letter-spacing: 0.04em;
}

main {
	padding-top: 100px;
	background-color: #b1c758;
}

.title {
	padding: 50px 0 30px;
}

.title-text h1 {
	font-family: "Pretendard Variable", sans-serif;
	font-size: 48px;
	font-weight: 700;
	margin: 0;
	color: #385446;
	text-align: left; 
	margin-left: 0px; 
}

.main-content {
	padding-bottom: 20px;
	background-color: #b1c758;
}

.animal-grid {
	display: flex;
	justify-content: space-between;
	gap: 40px;
	padding-top: 50px;
}

.animal-grid.second-row {
	margin-top: 50px;
	margin-bottom: 100px;
}

.animal-box {
	width: 30%;
	text-align: center;
	min-height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.subTitle {
	font-family: "Pretendard", sans-serif;
	font-weight: 600;
	color: #000000;
	font-size: 64px;
	line-height: 1.2;
	margin-bottom: 8px;
	white-space: pre-wrap;
	order: 1; 
}

.subTitle_k {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 600;
	color: #000000;
	font-size: 20px;
	line-height: 1.2;
	margin-bottom: 8px;
	white-space: pre-wrap;
	order: 1; 
}

.subTitle_SA {
	font-family: "Pretendard", sans-serif;
	font-weight: 600;
	color: #000000;
	font-size: 44px;
	line-height: 1.2;
	margin-bottom: 8px;
	white-space: pre-wrap;
	order: 1; 
}

.subTitle_k_SA {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 900;
	color: #000000;
	font-size: 16px;
	line-height: 1.2;
	margin-bottom: 24px;
	white-space: pre-wrap;
	order: 1; 
}

.subTitle_D {
	font-family: "Pretendard", sans-serif;
	font-weight: 600;
	color: #000000;
	font-size: 80px;
	line-height: 0.8;
	margin-bottom: 8px;
	white-space: pre-wrap;
	order: 3; 
}

.subTitle_k_D {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 600;
	color: #000000;
	font-size: 16px;
	line-height: 1.2;
	margin-bottom: 8px;
	white-space: pre-wrap;
	text-align: left;
	order: 2; 
}

.subTitle_k_P {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 600;
	color: #000000;
	font-size: 24px;
	line-height: 1.2;
	margin-bottom: 8px;
	white-space: pre-wrap;
	order: 1; 
}

.subTitle_P1 {
	font-family: "Noto Sans-ltalic", sans-serif;
	font-weight: 600;
	color: #000000;
	font-size: 48px;
	line-height: 0.6;
	margin-bottom: 8px;
	white-space: pre-wrap;
	order: 2; 
}

.subTitle_P2 {
	font-family: "Pretendard", sans-serif;
	font-weight: 700;
	color: #000000;
	font-size: 48px;
	line-height: 1.2;
	margin-bottom: 20px;
	white-space: pre-wrap;
	order: 2; 
}

.subTitle_k_LF {
	font-family: "Pretendard", sans-serif;
	font-weight: 900;
	color: #000000;
	font-size: 28px;
	line-height: 1.2;
	margin-bottom: 8px;
	white-space: pre-wrap;
	order: 3; 
}

.subTitle_LF {
	font-family: "Pretendard", sans-serif;
	font-weight: 900;
	color: #000000;
	font-size: 64px;
	line-height: 1.2;
	margin-bottom: 8px;
	white-space: pre-wrap;
	order: 4; 
}

.subTitle_PD {
	font-family: "Pretendard", sans-serif;
	font-weight: 900;
	color: #000000;
	font-size: 48px;
	line-height: 1.3;
	margin-bottom: 8px;
	white-space: pre-wrap;
	order: 0; 
}

.subTitle_k_PD {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 500;
	color: #000000;
	font-size: 20px;
	line-height: 1.3;
	margin-bottom: 35px;
	white-space: pre-wrap;
	order: 1; 
}

.animal-box img {
	max-width: 100%;
	height: auto;
	margin: 20px 0;
	order: 2; 
}

.text-block {
	text-align: left;
	padding: 0 10px;
	order: 3; 
}

.text-block1 {
	text-align: left;
	padding: 0 10px;
	order: 3; 
}

.animal-box:nth-child(2) .subTitle,
.animal-box:nth-child(3) .subTitle,
.second-row .animal-box:nth-child(2) .subTitle {
	order: 3; 
}

.animal-box:nth-child(2) .text-block,
.animal-box:nth-child(3) .text-block,
.second-row .animal-box:nth-child(2) .text-block {
	order: 1; 
	margin-bottom: 10px;
}

.second-row .animal-box:nth-child(3) .subTitle_PD,
.second-row .animal-box:nth-child(3) .subTitle_k_PD {
	order: 0; 
}

.second-row .animal-box:nth-child(3) .image {
	order: 1; 
}

.second-row .animal-box:nth-child(3) .text-block {
	order: 2; 
	margin-top: 30px; 
	margin-bottom: 0;
}

.animal-box:nth-child(1) .subTitle,
.second-row .animal-box:nth-child(1) .subTitle .subTitle_PD {
	order: 1; 
}

.animal-box:nth-child(1) .text-block,
.second-row .animal-box:nth-child(1) .text-block {
	order: 3; 
}

.text-block p,
.text-block ul {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 400;
	color: #000000;
	font-size: 16px;
	line-height: 1.8;
	margin: 0;
}

.text-block1 p,
.text-block1 ul {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 600;
	color: #000000;
	font-size: 13px;
	line-height: 1.5;
	margin: 0;
}

.text-block ul,
.text-block li {
	padding-left: 0;
	list-style-type: disc; 
	list-style-position: inside;
}

.text-block li {
	margin-bottom: 8px;
}

.light-bulb-container {
	padding-top: 50px;
	text-align: right;
	cursor: pointer;
	

	width: auto;
	margin-right: 100;
}

.light-bulb {
	width: 80px; 
	height: auto;
	transition: opacity 0.3s;
}

.light-bulb-container:hover .light-bulb {
	opacity: 0.8;
}

footer {
	background-color: #eef0e5;
	padding: 48px 0;

	font-size: 14px;
	color: #131313;
	border-top: 1px solid #ebebeb;
}

.footer-content {
	display: flex;
	justify-content: space-between;
	text-align: left;
	line-height: 1.5;
}

.contact-info,
.copyright,
.class-info {
	width: 30%;
}

.contact-info {
	order: 1;
}

.copyright {
	order: 2;
	text-align: center;
	font-weight: 700;
}

.class-info {
	order: 3;
	text-align: right;
}